## R Programming For SPSS Users
From 2003 - 2009, I taught software training courses for SPSS Inc.  The contents of this notebook are partially inspired by the course titled "Statistical Analysis Using SPSS" that I frequenty taught during that time.  Another important source is a book titled "R for SAS and SPSS Users" by Robert Muenchen.  If you already know how to write SPSS Statistics syntax (code) or SAS code and want to learn how to do similiar things in R, Bob's book is highly recommended.  The following URL will take you to the web site for Bob's book: https://r4stats.com/

### Procedures covered
- head(): returns the first six rows in the data frame   
- summary(): frequencies & descriptive statistics   
-

### Useful R Packages to consider

Frank Harrellâ€™s Hmisc package  
https://cran.r-project.org/web/packages/Hmisc/  
https://hbiostat.org/R/Hmisc/  
contains functions that produce more informative output than standard R functions

In [5]:
# R Programming For SPSS Users
# Last updated 2/5/2023

version # show the version of R used in Anaconda

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          6.1
year           2019
month          07
day            05
svn rev        76782
language       R
version.string R version 3.6.1 (2019-07-05)
nickname       Action of the Toes

In [13]:
# Displays a list of the dataset contain in the installed version of R Base  
library(help = "datasets")  
# favorite datasets include: mtcars, iris, titanic

In [22]:
# R Base: Summary function
# produces summary statistics of both continuous and categorical variables  
head(iris, n=10)   # By default, the head() function returns the first 6 rows by default
summary(iris)  # species is a categorical variable, all others are continuous)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [15]:
## Grouped summaries of continuous variables  
## Higher survival rates in children?
apply(Titanic, c(3, 4), sum)

       Survived
Age     No   Yes
  Child   52  57
  Adult 1438 654