## R Programming For SPSS Users
From 2003 - 2009, I taught software training courses for SPSS Inc.  The contents of this notebook are partially inspired by the course titled "Statistical Analysis Using SPSS" that I frequenty taught during that time.  Another important source is a book titled "R for SAS and SPSS Users" by Robert Muenchen.  If you already know how to write SPSS Statistics syntax (code) or SAS code and want to learn how to do similiar things in R, Bob's book is highly recommended.  The following URL will take you to the web site for Bob's book: https://r4stats.com/

### Procedures covered
- head(): returns the first six rows in the data frame   
- summary(): frequencies & descriptive statistics   
-

### Useful R Packages to consider

Frank Harrellâ€™s Hmisc package  
https://cran.r-project.org/web/packages/Hmisc/  
https://hbiostat.org/R/Hmisc/  
contains functions that produce more informative output than standard R functions

In [1]:
# R Programming For SPSS Users
# Last updated 2/5/2023

version # show the version of R used in Anaconda

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          6.1
year           2019
month          07
day            05
svn rev        76782
language       R
version.string R version 3.6.1 (2019-07-05)
nickname       Action of the Toes

In [2]:
# Displays a list of the dataset contain in the installed version of R Base  
# library(help = "datasets")  
# favorite datasets include: mtcars, iris, titanic

# head(mtcars)
# summary(mtcars)

head(UCBAdmissions)

[1] 512 313  89  19 353 207

In [3]:
# Convert cyl and gear (Numeric) to factor using as.factor()
# alternative syntax: mtcars$gear <- as.factor(mtcars$gear)
# as.numeric(mtcars$carb) -> mtcars$carb

# To convert a variable from factor to number
as.factor(mtcars$cyl)->mtcars$cyl  
as.factor(mtcars$gear)->mtcars$gear 
as.factor(mtcars$am)->mtcars$am
as.factor(mtcars$carb) -> mtcars$carb

summary(mtcars)

      mpg        cyl         disp             hp             drat
 Min.   :10.40   4:11   Min.   : 71.1   Min.   : 52.0   Min.   :2.760
 1st Qu.:15.43   6: 7   1st Qu.:120.8   1st Qu.: 96.5   1st Qu.:3.080
 Median :19.20   8:14   Median :196.3   Median :123.0   Median :3.695
 Mean   :20.09          Mean   :230.7   Mean   :146.7   Mean   :3.597
 3rd Qu.:22.80          3rd Qu.:326.0   3rd Qu.:180.0   3rd Qu.:3.920
 Max.   :33.90          Max.   :472.0   Max.   :335.0   Max.   :4.930
       wt             qsec             vs         am     gear   carb
 Min.   :1.513   Min.   :14.50   Min.   :0.0000   0:19   3:15   1: 7
 1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000   1:13   4:12   2:10
 Median :3.325   Median :17.71   Median :0.0000          5: 5   3: 3
 Mean   :3.217   Mean   :17.85   Mean   :0.4375                 4:10
 3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000                 6: 1
 Max.   :5.424   Max.   :22.90   Max.   :1.0000                 8: 1

In [4]:
# R Base: Summary function
# produces summary statistics of both continuous and categorical variables  
head(iris, n=10)   # By default, the head() function returns the first 6 rows by default
summary(iris)  # species is a categorical variable, all others are continuous)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [5]:
head(Titanic, n=10)

 [1]   0   0  35   0   0   0  17   0 118 154

In [7]:
install.packages("gmodels")
CrossTable(workshop, gender, chisq = TRUE, format = "SAS")

  There is a binary version available but the source version is later:
        binary   source needs_compilation
gmodels 2.18.1 2.18.1.1             FALSE

installing the source package 'gmodels'

ERROR: Error in CrossTable(workshop, gender, chisq = TRUE, format = "SAS"): could not find function "CrossTable"

In [15]:
# simple crosstab table of counts
# Higher survival rates in children?
apply(Titanic, c(3, 4), sum)

       Survived
Age     No   Yes
  Child   52  57
  Adult 1438 654

In [ ]:
## Grouped summaries of continuous variables